<%= form_for @new_composition, remote: true do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  
  <%= f.fields_for :assets do |asset_fields| %>
  
    <% if asset_fields.object.new_record? %>
  
      <p>
        <%= asset_fields.file_field :asset %>
      </p>
      
    <% end %>
  <% end %>
  
  
  
  <%= f.submit 'Save', id: "composition_submit" %>
<% end %>

<%= label_tag :search_compositions %>
<%= text_field_tag :search_compositions %>

<h1>Listing compositions</h1>

<div id="mindext_panels">
  <div id="tags_panel">
    <%= render 'tags/tags', :tags => @tags %>
  </div>
  <div id="compositions_panel">
    <table id="compositions_table">
    <% for composition in @compositions %>
      <%= render 'compositions/composition', composition: composition %>
    <% end %>
    </table>
  </div>

</div>
