<%= form_for @new_composition, remote: true do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit 'Save', id: "composition_submit" %>
<% end %>

<h1>Listing compositions</h1>

<div id="mindext_panels">
  <div id="tags_panel">
    <%= render 'tags/tags', :tags => @tags %>
  </div>
  <div id="compositions_panel">
    <table id="compositions_table">
    <% @compositions.each do |composition| %>
      <tr>
        <td><%= replace_hashtags_with_hyperlinks(composition.content, @tags).html_safe %></td>
      </tr>
    <% end %>
    </table>
  </div>

</div>
